// COLORS
$gold: #fbd347;
$goldDark: #c19323;
$goldLight: #ffe683;
$black: #000000;
$almostBlack: #1e1e1e;
$white: #ffffff;
$almostWhite: #efefef;
$grey: #888888;
$greyLight: #bbbbbb;
$greyDark: #555555;
$red: #d9534f;
$green: #4bbf73;
$blue: #007bff;
