*,
::before,
::after {
	margin: 0;
	padding: 0;
}

html {
	-webkit-font-smoothing: antialiased;

	::selection {
		background-color: $gold;
	}
}

body {
	font-weight: 300;
	background: $black;
	color: $white;
	letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $almostWhite;
}

p {
	margin-bottom: 0;
}

ul {
	list-style: none;
}

hr {
	border: 0.5px solid $greyDark;
}

a {
	color: $almostWhite;

	&:hover {
		text-decoration: none;
		color: $gold;
	}
}

footer a {
	color: $grey;
}

// utils
.text-primary {
	color: $almostWhite !important;
}

.gold {
	color: $gold !important;
}
